body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.nu-symbol {
    font-size: 100px;
    font-weight: bold;
    color: #333;
}

.email {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}